@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --primary-color : hsl(25, 97%, 53%);
    --heading-color : hsl(0, 0%, 100%);
    --text-color    : hsl(217, 12%, 63%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0px 24px;
}

.box {
    width: 100%;
    background: linear-gradient( hsl(213, 19%, 18%),hsl(216deg 23% 12%));
    padding: 32px 24px;
    border-radius: 20px;
}

.box .icon-rating {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(213deg 14% 25%);
    margin-bottom: 20px;
}

.box .img-thankyou {
    margin: 20px 0px;
}

.box .img-thankyou img {
    max-height: 100px;
}

.box .user-rating {
    display: inline-block;
    background-color: hsl(213deg 14% 25%);
    font-size: 15px;
    padding: 6px 16px;
    border-radius: 20px;
    margin-bottom: 32px;
    color: var(--primary-color);
}

.box .title {
    font-size: 28px;
    line-height: 1.2;
    color: var(--heading-color);
    margin-bottom: 12px;
}

.box .subtitle {
    font-size: 15px;
    line-height: 1.5;
    color: var(--text-color);
    margin-bottom: 24px;
}

.box .rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.box .rating span {
    height: 15px;
    font-size: 15px;
}

.box .rating label {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: hsl(213deg 14% 25%);
    color:var(--text-color);
    border-radius: 50%;
    cursor: pointer;
}

.box .rating input {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1000;
}

.box .rating label:active {
    background-color: var(--text-color);
    color: hsl(0, 0%, 100%);
}

.box .rating label:has(input:checked),
.box .rating label:hover {
    background-color: var(--primary-color);
    color: hsl(0, 0%, 100%);
}

.btn {
    border: 0;
    padding: 14px 0;
    display: block;
    width: 100%;
    border-radius: 40px;
    font-size: 13px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    background-color: var(--primary-color);
    letter-spacing: 1.5px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: hsl(0, 0%, 100%);
    color: var(--primary-color);
}

.text-center {
    text-align: center;
}

/* RESPONSIVE */

@media (min-width : 480px){
    .box {
        max-width: 360px;
    }
}